.bundle

db/*.sqlite3
# have to ignore this so can set up on individual computers
config/database.yml

log/*.log
tmp/
doc/
*.swp
*~


.sass-cache

# test log
webrat.log

# netbeans project file
.project

# fixtures
spec/fixtures/*

# weird mac project file
.DS_Store

# user specific files for rubymine
.idea/workspace.xml
.idea/tasks.xml
.idea/*
config/database.yml.example
