@import 'support';
$daves_grey: #e0e0e0;
$border_color: #aaa;
$fb_error_background: #ffebe7;
$fb_error_border: #dc3e00;

body {
  background-color: $daves_grey;
}

div#wrapper {
  width: 920px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}

div#content {
  margin-bottom: 20px;
}

div#footer {
  border-top: 1px solid $border_color;
}

div#header {
  height: 35px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid $border_color;
  @include border-radius(4px);

  span.logo {
    float: left;
    padding: 8px 5px 0 0;
    color: $border_color;
    a {
      text-decoration: none;
    }
    
    font: {
      size: 2.75em;
      weight: bold;
    }
  }

  span.nav {
    float: right;
  }

  div#fb-root {
    display: inline;
  }
}

// property search bar
div.search_bar {
  margin-bottom: 10px;
  min-height: 60px;
  padding: 10px 20px;
  border: 1px solid #aaa;

  @include border-radius(4px);

  table {
    width: 100%;

    tr {
      height: 25px;
    }

    td.label {
      width: 145px;
      font-weight: bold;
    }

    td.fields {
      width: 115px;
    }

    input#search_location {
      margin-top: 6px;
      border: 2px solid $daves_grey;
    }
  }

  input[type=text] {
    display: inline;
    border: 0;
    padding: 0;
    margin: 0;
    height: 20px;
    font-weight: bold;
    font-size: 14px;
  }

  div.slider-tooltip {
    width: 100px;
    position: absolute;
    top: -20px; left: -10px;
  }

  #mortgage_options_trigger {
    float:right;
  }

  #mortgage_options {
    margin: 20px 0 5px 0;
  }
}

div#mortgage_details {
  margin-bottom: 10px;
  padding: 5px;
  border-top: 1px solid $border_color;
  @include border-radius(4px);
}

tr.house {
  td.bottom {
    padding-bottom:20px;
  }
}

img.house {
  float: right;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#error_explanation {
  border: 1px solid black;
}

div#search_error {
  background_color: $fb_error_background;
  border: 1px solid $fb_error_border;
  padding: 3px;
  @include border-radius(4px);
  margin-bottom: 5px;

  span.error_count {
    color: $fb_error_border;
  }
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

table.data {
  border-collapse: collapse;
  width: 100%;

  td, th {
    border: 1px solid #999;
    padding: 5px;
  }
}

#rate_debugger_trigger, #viable_rates_trigger {
  border: 1px solid #999;
  background-color: #ecf7d2;
  padding-left: 10px;
}

#rate_debugger, #viable_rates {
  border: 1px solid #999;
  background-color: #ecf7d2;
  padding: 10px;
}
