@import 'support';
$daves_grey: #e0e0e0;

body {
  background-color: $daves_grey;
}

div#wrapper {
  width: 920px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}

div#header {
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid #aaa;
  @include border-radius(4px);
}

// property search bar
div.search {
  margin-bottom: 10px;
  height: 30px;
  padding: 7px 20px;
  border: 1px solid #aaa;

  @include border-radius(4px);

  span.field {
    margin: 0 5px;

    label {
      font-weight: bold;
    }
  }

  #search_submit {
    float: right;
    position: relative;
    top: -3px;
  }

  $search_input_width: 50px;

  input#search_min_payment {
    width: $search_input_width;
  }

  input#search_max_payment {
    width: $search_input_width;
  }

  input#search_deposit {
    width: $search_input_width;
  }
}