body {
  background-color: #e0e0e0; }

div#wrapper {
  width: 920px;
  margin: 0 auto;
  padding: 20px;
  background-color: white; }

div#header {
  height: 35px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  div#header span.logo {
    float: left;
    padding: 8px 5px 0 0;
    color: #aaaaaa;
    font-size: 2.75em;
    font-weight: bold; }
    div#header span.logo a {
      text-decoration: none; }
  div#header span.nav {
    float: right; }
  div#header div#fb-root {
    display: inline; }

div.search_bar {
  margin-bottom: 10px;
  min-height: 60px;
  padding: 7px 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  div.search_bar span.field {
    margin: 0 5px; }
    div.search_bar span.field label {
      font-weight: bold; }
  div.search_bar #search_submit {
    float: right;
    position: relative;
    top: -3px; }
  div.search_bar #boxes {
    width: 37%;
    float: left; }
    div.search_bar #boxes input#search_min_payment {
      width: 50px; }
    div.search_bar #boxes input#search_max_payment {
      width: 50px; }
  div.search_bar #other_fields {
    margin-bottom: 10px; }
    div.search_bar #other_fields input#search_deposit {
      width: 50px; }
  div.search_bar div#jquery-slider {
    margin: 2px 0;
    float: left;
    width: 62%; }

div#mortgage_details {
  margin-bottom: 10px;
  padding: 5px;
  border-top: 1px solid #aaaaaa;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }

img.house {
  float: right; }
