body {
  background-color: #e0e0e0; }

div#wrapper {
  width: 920px;
  margin: 0 auto;
  padding: 20px;
  background-color: white; }

div#header {
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }

div.search {
  margin-bottom: 10px;
  height: 30px;
  padding: 7px 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  div.search span.field {
    margin: 0 5px; }
    div.search span.field label {
      font-weight: bold; }
  div.search #search_submit {
    float: right;
    position: relative;
    top: -3px; }
  div.search input#search_payment {
    width: 50px; }
  div.search input#search_deposit {
    width: 50px; }
