body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.hidden {
  display: none; }

div.spacer {
  clear: both; }

body {
  background-color: #e0e0e0; }

div#wrapper {
  width: 920px;
  margin: 0 auto;
  padding: 20px;
  background-color: white; }

div#content {
  margin-bottom: 20px; }

div#footer {
  border-top: 1px solid #aaaaaa; }

div#header {
  height: 35px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  div#header span.logo {
    float: left;
    padding: 8px 5px 0 0;
    color: #aaaaaa;
    font-size: 2.75em;
    font-weight: bold; }
    div#header span.logo a {
      text-decoration: none; }
  div#header span.nav {
    float: right; }
  div#header div#fb-root {
    display: inline; }

div.search_bar {
  margin-bottom: 10px;
  min-height: 60px;
  padding: 10px 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  div.search_bar table {
    width: 100%; }
    div.search_bar table tr {
      height: 25px; }
    div.search_bar table td.label {
      width: 160px;
      font-weight: bold; }
    div.search_bar table td.slider {
      width: 600px; }
  div.search_bar input[type=text] {
    display: inline;
    border: 0;
    padding: 0;
    margin: 0;
    height: 20px;
    font-weight: bold;
    font-size: 14px; }
  div.search_bar div.slider-tooltip {
    width: 100px;
    position: absolute;
    top: -20px;
    left: -10px; }
  div.search_bar #mortgage_options_trigger {
    float: right; }
  div.search_bar #mortgage_options {
    margin: 20px 0 5px 0; }

div#mortgage_details {
  margin-bottom: 10px;
  padding: 5px;
  border-top: 1px solid #aaaaaa;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }

tr.house td.bottom {
  padding-bottom: 20px; }

img.house {
  float: right; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation {
  border: 1px solid black; }

div#search_error {
  background_color: #ffebe7;
  border: 1px solid #dc3e00;
  padding: 3px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-bottom: 5px; }
  div#search_error span.error_count {
    color: #dc3e00; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

table.data {
  border-collapse: collapse;
  width: 100%; }
  table.data td, table.data th {
    border: 1px solid #999;
    padding: 5px; }

#rate_debugger_trigger, #viable_rates_trigger {
  border: 1px solid #999;
  background-color: #ecf7d2;
  padding-left: 10px; }

#rate_debugger, #viable_rates {
  border: 1px solid #999;
  background-color: #ecf7d2;
  padding: 10px; }
