body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.hidden {
  display: none; }

div.spacer {
  clear: both; }
