%tr
  %th 20 Year APR
  %th Lender
  %th Type
  %th{ :title => "If the mortgage is a fixed rate mortgage, the length of the fixed period will be shown here." } Initial Period Length
  %th{ :title => "You must be borrowing greater than this % to avail of this rate" } Min. LTV
  %th{ :title => "You may borrow up to this % and still avail of this rate" } Max. LTV
