<% if matches.any? %>
<div id="results">
  <%# render :partial => "shared/search/mort_info", :locals => { search: search } %>
  <div class="results_menu">
    <span class="sort_options">Sort by: <%= sortable search.id, "price", "Required Payments", 'price_sort', true %></span>
  </div>
  <div class="clear">
    <ul class="listings">
      <%= render :partial => 'shared/house/house', :collection => matches %>
    </ul>
  </div>
  <!-- TODO the pagination links are sending all the bedrooms etc, data along for some reason -->
  
  <!-- THis is making the URI too long and it gets rejected -->
  <%= paginate matches, :params => {:controller => 'searches',
                                    :action => 'show', :id => search.id},
                                    :remote => true %>
</div>
<% else %>
<div id="results">
  <p>We're sorry but no houses match that search.</p>
  <p>
    To improve your chances of finding suitable houses, you might try broadening your search
    conditions or adding more towns to your search.
  </p>
</div>
<% end %>