.results_menu.clear
  = sortable "price", "Required Payments"
%div.clear
  - if @matches.any?
    %ul
      = render :partial => 'shared/house/house', :collection => @matches

    = paginate @matches

  - else
    We're sorry but no houses match that search