-# this and the JS in the other search_form need to be dried
:javascript
  $(function(){
    $('div#jquery-slider').slider({
        range: true,
        min: 1,
        max: 2000,
        step: 10,
        values: [ #{@search.min_payment}, #{@search.max_payment} ],
         slide: function( event, ui ) {
          $( "#search_min_payment" ).val( ui.values[ 0 ] );
          $( "#search_max_payment" ).val( ui.values[ 1 ] );
         }
    });
  });

= form_for @search do |f|
  = render 'shared/error_messages', :object => f.object
  .search_bar
    #other_fields
      %span.field
        =f.label :deposit, "Deposit (€)"
        =f.text_field :deposit, :value => @search.deposit, :size => 6

      %span.field
        =f.label :term, "Term (years)"
        =f.text_field :term, :value => @search.term, :size => 3

      %span.field
        =f.label :county_id, "County"
        =f.select :county_id, county_choices, :selected => @search.county_id

      =f.submit :Search

    #payments
      #boxes
        %b Monthly Payment Range:
        %span.field
          -#=f.label :min_payment, "Min Payment (€)"
          =f.text_field :min_payment, :value => @search.min_payment, :size => 6

        %span.field
          -#=f.label :max_payment, "Max Payment (€)"
          =f.text_field :max_payment, :value => @search.max_payment, :size => 6

      #jquery-slider

