-# if there were errors then we need to show the offending search
- if @search.errors.any?
  - new_search = @search
- else
  - new_search = Search.new

.search
  =form_for new_search do |f|
    =render 'shared/error_messages', :object => f.object

    %span.field
      =f.label :payment, "Monthly Payment (€)"
      =f.text_field :payment, :value => @search.payment

    %span.field
      =f.label :deposit, "Deposit Amount (€)"
      =f.text_field :deposit, :value => @search.deposit

    %span.field
      =f.label :county
      =f.select :county, new_search.county_choices, :selected => @search.county.to_i
    
    =f.submit :Search