%h1 Listing searches

%table.data
  %tr
    %th ID
    %th Min. Payment
    %th Max. Payment
    %th Deposit
    %th Term
    %th location
    %th Beds
    %th Baths
    %th Loan Type
    %th Lender UID's
  =render :partial => 'search', :collection => @searches

= paginate @searches
%br
= link_to "Home", root_path