%h1 Listing searches

%table.data
  %tr
    %th ID
    %th Min. Payment
    %th Max. Payment
    %th Deposit
    %th County
    %th Loan Type
    %th Initial Length
    %th Lender
  =render :partial => 'search', :collection => @searches

= paginate @searches
%br
= link_to "Home", root_path