// Place your application-specific JavaScript functions and classes here
// This file is automatically included by javascript_include_tag :defaults
$(function() {
//  $( "button, input:submit, a.snazzy" ).button();
  $( "a", ".demo" ).click(function() { return false; });

  $( ".collapsed_trigger" ).click(function(event){
    event.preventDefault();
//    console.log($(this).next());
    $(this).next(".collapsed_content").toggleClass('hidden');
  });

//  Ajax for pagination
  $("#.sorting_options a, #results .pagination a").live("click", function(event) {
    event.preventDefault();
    $.getScript(this.href);
  });

  $("a.gallery").fancybox({
    cyclic: true
  });

  $("#new_search")
    .bind('ajax:beforeSend', function(event, xhr, settings){
//    append any aux form elements onto the post data
      settings.data += ( "&" + $("#filter_options, #sidebar form").serialize() );
//      log( $("#filter_options").serialize() );
    
      var $submitButton = $(this).find('input[name="commit"]');
//    store the origional text of the btn in a data attribute
      $submitButton.data( "test", $submitButton.val() );
//    change the text of the button
      $submitButton.val( 'Submitting...' );
    }).bind('ajax:complete', function(evt, xhr, status){
      var $submitButton = $(this).find('input[name="commit"]');
      // Restore the original submit button text
      $submitButton.val( $submitButton.data("test") );
    });

//  Advanced search options dialog
  $("div#advanced_search_dialog").dialog({
    autoOpen: false,
    modal: true,
    width: 430,
    height: 500,
    resizable: false,
    draggable: false,
    hide: 'fade',
    show: 'fade',
    title: "Advanced Search Options",
    buttons: {
      "Ok": function() {
        $.rails.handleRemote( $("#new_search") );
        $(this).dialog('close');
      },
      "Cancel": function() {
//        need to reset any superficial changes on the advanced form
        $(this).dialog('close');
      }
    }
  });
  $("div#advanced_search_fields").tabs();
  
  $("a#advanced_search_trigger").click(function(e) {
    e.preventDefault();
    $("div#advanced_search_dialog").dialog('open');
  });
  
  $(".buttonset").buttonset();

  $(function(){
    var min_payment = $( "input#search_min_payment" );
    var max_payment = $( "input#search_max_payment" );
    var $minTooltip = $('<span class="ui-slider-tooltip ui-widget-content ui-corner-all">'
                      + '<span class="ttContent">€' + min_payment.val() + '</span>'
                      + '<span class="ui-tooltip-pointer-down ui-widget-content">'
                      + '<span class="ui-tooltip-pointer-down-inner"></span></span>'
                      + '</span>');
    var $maxTooltip = $('<span class="ui-slider-tooltip ui-widget-content ui-corner-all">'
                      + '<span class="ttContent">€' + max_payment.val() + '</span>'
                      + '<span class="ui-tooltip-pointer-down ui-widget-content">'
                      + '<span class="ui-tooltip-pointer-down-inner"></span></span>'
                      + '</span>');
    var $paymentSlider = $('div#payment_slider');

    $paymentSlider.slider({
      range: true,
      min: 200,
      max: 2000,
      step: 10,
      values: [ min_payment.val() , max_payment.val() ],
      slide: function( event, ui ) {
        min_payment.val( ui.values[ 0 ] );
        max_payment.val( ui.values[ 1 ] );
        $minTooltip.find( "span.ttContent" ).text( "€" + ui.values[0] );
        $maxTooltip.find( "span.ttContent" ).text( "€" + ui.values[1] );
      }
    });
    $paymentSlider.find( ".ui-slider-handle" ).eq(0).append($minTooltip);
    $paymentSlider.find( ".ui-slider-handle" ).eq(1).append($maxTooltip);

  });
});