$ () ->
  $( ".buttonset" ).buttonset()
#  $( "a", ".demo" ).click (event) ->
#    event.preventDefault()
#
  $( "a.gallery" ).fancybox
    cyclic: true

  $( '.collapsed_trigger' ).live 'click', (event) ->
    event.preventDefault()
    $( this ).parent().next( '.collapsed_content' ).toggleClass 'hidden'

#  controls for  the towns list
#  It might be agood idea to take off this 'unless' every so often and test the functionality
#  unless typeof Modernizer == 'undefined' || Modernizr.input.placeholder
   townSearchPlaceholder = <%# TOWN_SEARCH_PLACEHOLDER %>
   console.log Modernizr.input.placeholder
   $( 'input#search_town' )
     .bind 'focus', (event) ->
       console.log $( this )
       $( this ).val('') if $( this ).val() == townSearchPlaceholder
     .bind 'blur', (event) ->
       $( this ).val townSearchPlaceholder if $( this ).val() == ''
     .val(townSearchPlaceholder)

  $( 'div#loc_search_options' )
    .find( 'li a' ).live 'click', (e) ->
      e.preventDefault()
      $li = $( this ).parent( 'li' )
      $li.fadeOut 'fast', () ->
        $li.remove()
    .end()
    .find( 'a#delete_all' ).live 'click', (e) ->
      e.preventDefault()
      $allLi = $( 'div#loc_search_options' ).find( 'li' )
      $allLi.fadeOut 'fast', () ->
        $allLi.remove()
      $('#search_town').val('')

  $(".accordion").accordion { collapsible: true, active: false }

#  event handlers for the search form
  $( "#search" )
    .bind 'ajax:before', (event) ->
      $( '#search_bar' ).find( 'div#error_target' ).html ''
    .bind 'ajax:beforeSend', (event, xhr, settings) ->
      settings.data += "&#{ $( "#mort_fields, #option_fields, #search_town_form input[type='hidden']" ).serialize() }"
#     this will be replaced by the results when the response returns
#     actually this is a bad idea, what if the response never comes??
      $( this ).find( 'span.loading' ).append '<img src="assets/loading.gif" />'
    .bind 'ajax:complete', (event, xhr, status) ->
      $( this ).find( 'span.loading' ).text ''
    .bind 'ajax:success', (event, data, status) ->
#      TODO fix the url and back button

  min_payment = $( "input#search_min_payment" )
  max_payment = $( "input#search_max_payment" )
  $minTooltip = $("<span class=\"ui-slider-tooltip ui-widget-content ui-corner-all\">
                    <span class=\"ttContent\">\u20AC#{ min_payment.val() }</span>
                    <span class=\"ui-tooltip-pointer-down ui-widget-content\">
                    <span class=\"ui-tooltip-pointer-down-inner\"></span></span>
                    </span>")
  $maxTooltip = $("<span class=\"ui-slider-tooltip ui-widget-content ui-corner-all\">
                    <span class=\"ttContent\">\u20AC#{ max_payment.val() }</span>
                    <span class=\"ui-tooltip-pointer-down ui-widget-content\">
                    <span class=\"ui-tooltip-pointer-down-inner\"></span></span>
                    </span>")
  $paymentSlider = $( 'div#payment_slider' )

  $paymentSlider.slider
    range: true,
    min: 200,
    max: 2000,
    step: 50,
    values: [ min_payment.val() , max_payment.val() ],
    slide: ( event, ui ) ->
      min_payment.val( ui.values[ 0 ] )
      max_payment.val( ui.values[ 1 ] )
      $minTooltip.find( "span.ttContent" ).text( "\u20AC#{ui.values[0]}" )
      $maxTooltip.find( "span.ttContent" ).text( "\u20AC#{ui.values[1]}" )

  $paymentSlider.find( ".ui-slider-handle" ).eq(0).append $minTooltip
  $paymentSlider.find( ".ui-slider-handle" ).eq(1).append $maxTooltip
