footer { clear:both; border-top:1px solid #ccc; padding-top:5px; }
footer li { font-size:11px; list-style:none; float:left; color:gray; margin-left:5px }
footer li a { color:gray }
footer li a:hover { text-decoration:underline }