@import 'support';

div#header {
  height: 35px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid $border_color;
  @include border-radius(4px);

  span.logo {
    float: left;
    padding: 8px 5px 0 0;
    color: $border_color;
    a {
      text-decoration: none;
    }

    font: {
      size: 2.75em;
      weight: bold;
    }
  }

  span.nav {
    float: right;
  }

  div#fb-root {
    display: inline;
  }
}