@import "variables";

div#wrapper {
  width: $wrapper_width;
  margin: 0 auto;
}

div#sidebar {
  $pl: 2px; $pr: 2px; $pt: 5px; $pb: 5px;
  $ml: 9px;
  width: $sidebar_width;
  float: left;
  margin-left: $ml;
  min-height: 400px;
  background-color: $colms_bg;
  padding: $pt $pr;
}

.sidebar_section {
  margin-bottom: 10px;
}