@import "variables";

div#results_container {
  width: 700px;
  float: left;
  /* TODO find antoher way to move this up */
  /*position: relative;*/
  /*top: -5em;*/
}

div#results {
  .results_menu {
    width: 100%;
    border-bottom: 1px solid #ddd;
  }

}

a.price_sort { padding-right: 12px; background-repeat: no-repeat; background-position: right center; }
a.price_sort.asc { background-image: url(up_arrow.gif); }
a.price_sort.desc { background-image: url(down_arrow.gif); }

div#mortgage_details { margin-bottom: 1em; }

ul.listings {
  clear: both;
  padding-top: 1em;
  margin: 0;
}

li.listing {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  clear: both;
  padding: 1em 0;

  /* this is a great example of the power of sass */
  /* House image doesn't need a separate class, I can target it with nesting */
  img {
    width: 160px;
    height: 120px;
    float: left;
    margin-right: 10px;
    clear: none;
  }

  img:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
  }

  .house_details {
    float: left;
    width: 350px;
    margin-right: 10px;

    h3 {
      margin-bottom: 10px;
      letter-spacing:-1px;
      color:#444;
      line-height:14px;

      font: {
        family:Verdana, Geneva, sans-serif;
        size: 18px;
        weight: bold;
      }
    }

    p {
      color: #666;
      line-height:17px;
      
      font: {
        size: 0.9em;
      }
    }
  }

  .summary {
    float: right;
    width: 170px;
    .price {
      color: #18c;
      line-height:18px;

      font: {
        family:Verdana, Geneva, sans-serif;
        size: 26px;
        weight: bold;
      }
    }

    .payment_frequency {
      color:#666; font-size:0.9em;
    }

    ul {
      margin-left: 0;
      margin-bottom: 10px;
      li {
        list-style: none;
      }
    }

    .button {
      font-family:"Trebuchet MS", Arial, Helvetica;
      font-weight: bold;
      text-transform: lowercase;
      padding: 5px;
      @include border-radius(5px);
      margin-top: 10px;
      width:79px;
      color:#fff;
      font-size:10px;
      text-align:center;
    }

    .daft_btn {
      background:#18c;
    }

    .daft_btn:hover {
      background:#17a
    }

    .grey_btn {
      background:#555;
    }

    .grey_btn:hover {
      background:#666;
    }
  }
}

li.listing:last-child {
  border-bottom: none;
}

table.data {
  border-collapse: collapse;
  width: 100%;

  td, th {
    border: 1px solid #999;
    padding: 5px;
  }
}