@import "variables";

/*div#side_search_bar {*/
  /*float: left;*/
  /*background: $bp_hot_pink;*/
  /*width: 205px;*/
  /*padding: .7em .4em;*/
  /*margin-bottom: 2em;*/
  /*@include border-radius-bottom(5px);*/
  /*@include border-radius-topright(5px);*/

  /*input[type='text'] {*/
    /*width: 180px;*/
  /*}*/

  /*.row {*/
    /*margin-bottom: .7em;*/
  /*}*/

  /*.buttonset {*/
    /*margin: .5em;*/
  /*}*/
/*}*/

div#top_search_bar {
  $lp: 0.6em; $rp: 0.9em; $tp: 1em; $bp: 1em;
  background: $bp_hot_pink;
  width: 100%;
  float: left;
  padding: $tp $rp $bp $lp;
  @include border-radius(5px);
  /* over-riding some jquery-ui styling for sliders */
  .ui-slider-horizontal { height: 0.6em; }
  .ui-slider-horizontal .ui-slider-handle { top: -.4em; margin-left: -.6em; }
  .ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
  .ui-slider-horizontal .ui-slider-range-min { left: 0; }
  .ui-slider-horizontal .ui-slider-range-max { right: 0; }

  /* below copied from Filament Groups select UI slider */
  /* I've changed heights, widths etc to suit my layout */
  .ui-slider  {
    text-decoration: none !important;
  }
  .ui-slider .ui-slider-handle  {
    overflow: visible !important;
  }
  .ui-slider .ui-slider-tooltip {
    display: block;
    position: absolute;
    bottom: 1.9em;
    text-align: center;
    padding: .1em .2em .1em;
    font-size: .8em;
    width: 4.2em;
    margin-left: -1.6em;
  }
  /* this is the little pointer image */
  .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down, .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down-inner {
    position: absolute;
    display: block;
    width:0;
    height:0;
    border-bottom-width: 0;
    background: none;
  }
  .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down {
    border-left: 7px dashed transparent;
    border-right: 7px dashed transparent;
    border-top-width: 8px;
    bottom:	-8px;
    right: auto;
    left: 50%;
    margin-left: -7px;
  }
  /* the bit that gives th  pointer an inner so it has a border */
  .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down-inner {
    border-left: 6px dashed transparent;
    border-right: 6px dashed transparent;
    border-top: 7px solid #fff;
    bottom:	auto;
    top: -9px;
    left: -6px;
  }
  .ui-slider a {
    text-decoration: none;
  }
}

  .buttonset { margin-left: 1.5em; margin-top: 0.6em; }

  ul li.input { list-style: none; display: inline; margin-left: 1em; }

  /* over-riding some jquery-ui styling for buttonsets */
  .ui-button-text-only .ui-button-text { padding: .1em .3em }

