@import "variables";

div#search_bar {
  background: $colms_bg;
  width: 100%;
  float: left;
  @include border-radius-bottomleft(5px);
  @include border-radius-topleft(5px);

  #search_content { border-bottom: 1px solid #fff; }
  .search_section {
    $lp: 0.6em; $rp: 0.9em; $tp: 1em; $bp: 1em;
    padding: $tp $rp $bp $lp;
  }

  a#delete_all {
    margin-top: .3em;
  }

  div#towns_list {
    ul { margin-left: 0; }
    li {
      @include border-radius(5px);
      float: left;
      margin-left: 3px;
      list-style: none;
      background-color: #dfeaf4;
      padding:2px 20px 2px 2px;
      color: $link_hover;
      border: 1px dotted $link_hover;
      margin-bottom: 3px;
      input { display: inline; }
    }
  }
  /* over-riding some jquery-ui styling for buttonsets */
  .ui-button-text-only .ui-button-text { padding: .1em .3em }
}

.buttonset { margin-left: 1.5em; margin-top: 0.6em; }

ul li.input { list-style: none; display: inline; margin-left: 1em; }


div#search_errors {
  border: 1px solid red;
  background-color: pink;
  padding: .2em;
  margin-bottom: .9em;
  @include border-radius(5px);

  .error_count {
    font-weight: bold;
  }
}

/* Styling for sliders */

  .ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1em; height: 1em; cursor: default; }
  .ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

  .ui-slider-horizontal { height: 0.4em; width: 14em; }
  .ui-slider-horizontal .ui-slider-handle { top: -.4em; margin-left: -.6em; }
  .ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
  .ui-slider-horizontal .ui-slider-range-min { left: 0; }
  .ui-slider-horizontal .ui-slider-range-max { right: 0; }

  /* below copied from Filament Groups select UI slider */
  /* I've changed heights, widths etc to suit my layout */
  .ui-slider  {
    text-decoration: none !important;
  }
  .ui-slider .ui-slider-handle  {
    overflow: visible !important;
  }
  .ui-slider .ui-slider-tooltip {
    display: block;
    position: absolute;
    bottom: 1.9em;
    text-align: center;
    padding: .1em;
    font-size: .7em;
    width: 3.4em;
    margin-left: -1.1em;
  }
  /* this is the little pointer image */
  .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down, .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down-inner {
    position: absolute;
    display: block;
    width:0;
    height:0;
    border-bottom-width: 0;
    background: none;
  }
  .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down {
    border-left: 7px dashed transparent;
    border-right: 7px dashed transparent;
    border-top-width: 8px;
    bottom:	-8px;
    right: auto;
    left: 50%;
    margin-left: -7px;
  }
  /* the bit that gives th  pointer an inner so it has a border */
  .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down-inner {
    border-left: 6px dashed transparent;
    border-right: 6px dashed transparent;
    border-top: 7px solid #fff;
    bottom:	auto;
    top: -9px;
    left: -6px;
  }
  .ui-slider a {
    text-decoration: none;
    border: none;
  }
  .ui-slider a:active {
    text-decoration: none;
    border: none;
  }
