@import 'support';

div.search_bar {
  margin-bottom: 10px;
}

div.search_content {
  background:#eee;
  padding:10px 10px 2px 10px;
  @include border-radius-bottom(5px);

  table {
    width: 100%;
    margin-bottom: 10px;
    
    tr { height: 25px; }

    td.label { width: 145px; font-weight: bold; }

    td.fields { width: 115px; }

    input#search_location { margin-top: 6px; border: 2px solid $daves_grey; }
  }

  input[type=text] {
    display: inline;
    border: 0;
    padding: 0;
    margin: 0;
    height: 20px;
    font-weight: bold;
    font-size: 12px;
  }

  div.slider-tooltip {
    width: 100px;
    position: absolute;
    top: -20px; left: -10px;
  }

  #mortgage_options {
    margin: 20px 0 5px 0;
  }

  ul li.input {
    list-style: none;
    display: inline;
    margin-left: 10px;
  }

  .label {
    font-weight: bold;
  }
}
