@import "variables";

div#sidebar {
  $pl: 5px; $pr: 2px; $pt: 5px; $pb: 5px;
  $ml: 9px;
  width: 206px;
  float: left;
  margin-left: $ml;
  min-height: 400px;
  background-color: $colms_bg;
  padding: $pt $pr $pb $pl;

  input[type='text'] {
    width: 150px;
  }

  a#delete_all {
    float:right;
    margin-top: .3em;
  }

  div#towns_list {
    ul { margin-left: 0; clear: both; }
    li {
      @include border-radius(5px);
      list-style: none;
      background-color: #dfeaf4;
      padding:2px;
      color: $link_hover;
      margin-bottom: 3px;
    }
  }
}