@import "variables";

div#start_searching {
  width: 600px;
  margin: 3em auto;
  @include border-radius(5px);
  background-color: $colms_bg;
  padding: 1em;

  div#start_payment, div#start_deposit {
    margin-bottom: 1.5em;
  }
/* The text for the deposit field */
  span {
    margin-right: 1em;
  }

  p {
    margin-bottom: .2em;
  }

  #start_payment p {
    margin-bottom: 2.2em;
  }

  #location_widget {
    margin: 0 auto;
    width: 300px;
  }
}