@import "variables";

body { font-family:"Helvetica Neue", arial, helvetica, sans-serif; color:#333; overflow-x: hidden; }
header, footer, nav, article, section { display:block }
ul { list-style:none }

.button { font-weight: bold }

.gradient_btn {
    background-color: #1a82f7;
    background-image: url(images/fallback-gradient.png);
    background-image: -moz-linear-gradient(#18c, #116699);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#18c), to(#116699));
    background-image: -webkit-linear-gradient(#18c, #116699);
    background-image: -o-linear-gradient(#18c, #116699);
    border:1px solid #17a;
    border-bottom:1px solid #035;
    }
.gradient_btn:hover {
    border:1px solid #035;
}
.gradient_btn:active {
    background:#169
}

.blue_btn { background-color:#18c; border:1px solid #18c; color:#fff }
.blue_btn:hover { border-color:#035; color:#fff }

.grey_btn { background-color:#555; border:1px solid #555; color:#fff }
.grey_btn:hover { border-color:#000; color:#fff }

.daft_btn, .more_info { float:left; width:81px; text-align:center; font-size:11px; padding:5px 0 }
.daft_btn { margin-right:3px }

#search_btn { padding:5px 20px; float:right; text-transform:uppercase; font-weight:bold; font-size:11px }

.float-right {
  float: right;
}

.inline {
  display: inline;
}

.float-left {
  float: left;
}

.hidden {
  display: none;
}

div.spacer {
  clear: both;
}

.clear {
  clear:both;
}

/* these should be moved out into a separate file since they are style rather than utilities */
h2.bar_head {
  background-color: #1a82f7;
  background-image: url(images/fallback-gradient.png);
  background-image: -moz-linear-gradient(#18c, #116699);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#18c), to(#116699));
  background-image: -webkit-linear-gradient(#18c, #116699);
  background-image: -o-linear-gradient(#18c, #116699);
  padding: .1em 0 .1em 1em;
  font-size: 1.2em;
  color:#fff;
  display:block;
  @include border-radius(5px);
}

.sexy_btn {
  background-color: #1a82f7;
  background-image: url(images/fallback-gradient.png);
  background-image: -moz-linear-gradient(#18c, #116699);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#18c), to(#116699));
  background-image: -webkit-linear-gradient(#18c, #116699);
  background-image: -o-linear-gradient(#18c, #116699);
  padding:5px 15px;
  font:18px Arial, Helvetica, sans-serif;
  color:#fff;
  font-weight:bold;
  border: none;
  @include border-radius(5px);
}
