@mixin border-radius($rad) {
  border-radius: $rad;
  -moz-border-radius: $rad;
  -webkit-border-radius: $rad;
}

// aaplication wide standard colours
$daves_grey: #e0e0e0;
$border_color: #aaa;
$fb_error_background: #ffebe7;
$fb_error_border: #dc3e00;

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.hidden {
  display: none;
}

div.spacer {
  clear: both;
}