@mixin border-radius($rad) {
  border-radius: $rad;
  -moz-border-radius: $rad;
  -webkit-border-radius: $rad;
}

@mixin border-radius-bottom($rad) {
  border-bottom-right_radius: $rad;
  border-bottom-left-radius: $rad;
  -moz-border-radius-bottomright: $rad;
  -moz-border-radius-bottomleft: $rad;
  -webkit-border-bottom-left-radius: $rad;
  -webkit-border-bottom-right-radius: $rad;
}

// aaplication wide standard colours
$daves_grey: #e0e0e0;
$border_color: #aaa;
$fb_error_background: #ffebe7;
$fb_error_border: #dc3e00;
$bp_pink: #FF5E99;
$bp_grey_blue: #607890; // link
$bp_dark_blue: #036; // hover
$bp_hot_pink: #fe57a1;


.float-right {
  float: right;
}

.float-left {
  float: left;
}

.hidden {
  display: none;
}

div.spacer {
  clear: both;
}

.clear {
  clear:both;
}

/* these should be moved out into a seperate file since they are style rather than utilities */
h2.bar_head {
  background-color: #1a82f7;
  background-image: url(images/fallback-gradient.png);
  background-image: -moz-linear-gradient(#18c, #116699);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#18c), to(#116699));
  background-image: -webkit-linear-gradient(#18c, #116699);
  background-image: -o-linear-gradient(#18c, #116699);
  padding:7px 0 7px 15px;
  font-size:14px;
  color:#fff;
  font-weight:bold;
  display:block;
  @include border-radius(5px);
}

.sexy_btn {
  background-color: #1a82f7;
  background-image: url(images/fallback-gradient.png);
  background-image: -moz-linear-gradient(#18c, #116699);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#18c), to(#116699));
  background-image: -webkit-linear-gradient(#18c, #116699);
  background-image: -o-linear-gradient(#18c, #116699);
  padding:5px 15px;
  font:18px Arial, Helvetica, sans-serif;
  color:#fff;
  font-weight:bold;
  border: none;
  @include border-radius(5px);
}