%a{ :href => "http://twitter.com/share",
      :class => "twitter-share-button",
      :"data-url" => "http://howmuchhouse.net",
      :"data-via" => "your_screen_name",
      :"data-related" => "howmuchhouse",
      :"data-text" => "How Much House: A great new way to find your dream house! Search by how much the mortgage will cost.",
      :"data-counturl" => "http://howmuchhouse.net" } Tweet