<h1>Listing rates</h1>

%table.data
  %thead
    = render "shared/rate_table_headings"
  %tbody
    = render :partial => 'shared/rate', :collection => @rates

%br

=link_to 'New Rate', new_rate_path if Rails.env.development?
