%meta{ :property => "og:title", :content => "How Much House" }
%meta{ :property => "og:type", :content => "website" }
%meta{ :property => "og:url", :content => "http://www.howmuchhouse.net/" }
%meta{ :property => "og:image", :content => "" }
%meta{ :property => "og:site_name", :content => "How Much House" }
%meta{ :property => "og:app_id", :content => "209587339064325" }
%meta{ :property => "og:description", :content => "HowMuchHouse.net is a site which makes it east to search for property based on how much you can actually afford. You tell us some basic information like how large a deposit you can save up and where you'd like to live and we list properties that meet your criteria." }