%meta{ :property => "og:title", :content => "How Much House" }
%meta{ :property => "og:type", :content => "website" }
%meta{ :property => "og:url", :content => "http://www.howmuchhouse.net/" }
%meta{ :property => "og:image", :content => "" }
%meta{ :property => "og:site_name", :content => "http://www.howmuchhouse.net/" }
%meta{ :property => "og:app_id", :content => "211207382236306" }