<h1><%= link_to "Crib Calc.ie", root_path %></h1>
<nav>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Tools</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Place Ad</a></li>
  </ul>
</nav>